.detailContainer:hover .stackline {
    background-color: #f0f0f0;
}

.nodeIcon {
  font-size: 14px;
  cursor: pointer;
  cursor: hand;
  flex: 0 0 auto;
}

.collapsedIcon {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
.mdl-spinner__circle{
  border-width: 1px !important;
}
.stackline {
  border-bottom: 1px solid rgba(158, 158, 158, 0.28);
  height: 25px;
  display: flex;
  align-items: center;
}

.stacklineInner {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  cursor: pointer;
  cursor: hand;
  &:HOVER {
    color: rgb(255,64,129);
  }
}

.highlight, .highlight div {
  color: #1bb500 !important;
}

.subdued {
  color: rgba(0,0,0,0.6);
}
